header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    height: 60px;

}

.card-character-home {
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-character-home button {
    background-color: whitesmoke;
}

.header-div{
    margin-left: 5%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

#text-main{
    font-size: 30px;
    font-family: cursive;
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
    border-radius: 10%;
    margin-top: 20px;
}

.nav-bar{   
    margin-right: 5%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 40px;
}

.botton-nav{
    color: black;
    backdrop-filter: blur(3px);
    border-radius: 10%
}

.button-div{
    text-decoration: none;
    color: black;
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
    border-radius: 10%;
    padding: 10px;
}

#login-a{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 6px;
    
}

main{
    background-image: url('../img/nezuko.jpg'); 
    background-size: contain; 
    background-repeat: repeat; 
}

.tituloYparrafo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.tituloDemon{
    height: 100px;
}

.tituloIcon{
    width: 100px;

}

.p-top-main{
    height: 50px;
}

.card:hover {
    transform: scale(1.05); /* Agranda la tarjeta un 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Mejora la sombra para dar un efecto de elevación */
}
