body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
    background-color: blueviolet;
    background-image: url('../img/register.jpeg'); 
    background-size: contain; 
    background-repeat: repeat; 
}

.login-container {
    width: 60vw;
    min-width: 350px;
    height: 85vh;    
}

#register-form{
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header-div{
    background-color: violet;
    margin-left: 5%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

#error-message{
    color: red;
}

.error{
    color: red;
}